@charset "utf-8";
html {
  overflow-x: initial !important;
}
:root {
  --bg-color: white;
  --text-color: black;
  --select-text-bg-color: #b38f9d;
  --select-text-font-color: auto;
  --monospace: "Lucida Console", Consolas, "Courier", monospace;
  --side-bar-bg-color: #fafafa;
  --control-text-color: #777;
  --h1-text-color: #ffc1e0;
  --h2-text-color: var(--text-color);
  --h2-bg-color: #ffe6f1; /*#ffcce4; 背景色*/
  --h2-border-color: #ffb2d8;
  --h3-bg-color: #f5f5f5;
  --h3-text-color: var(--text-color);
  --a-color: #e673ac;
  --yellow: linear-gradient(rgba(255, 255, 90, 0) 40%, rgba(255, 255, 90, 90) 60%);
  --pink: linear-gradient(rgba(255, 140, 255, 0) 40%, rgba(255, 140, 255, 90) 60%);
  --blue: linear-gradient(rgba(102, 204, 255, 0) 40%, rgba(102, 204, 255, 90) 50%);
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
    --select-text-bg-color: #b38f9d;
    --select-text-font-color: white;
    --monospace: "Lucida Console", Consolas, "Courier", monospace;
    --side-bar-bg-color: #fafafa;
    --control-text-color: #777;
    --h1-text-color: #b3889c /* cc9bb3*/ ;
    --h2-text-color: var(--text-color);
    --h2-bg-color: #664757 /*#b38f9d*/ ; /*#ffcce4; 背景色*/
    --h2-border-color: #cc8fad;
    --h3-bg-color: #252525;
    --h3-text-color: var(--text-color);
    --a-color: #b3889c;
    --yellow: linear-gradient(rgba(179, 179, 62, 0) 40%, rgba(255, 255, 90, 90) 60%);
    --pink: linear-gradient(rgba(153, 84, 153, 0) 40%, rgba(153, 84, 153, 90) 60%);
    --blue: linear-gradient(rgba(61, 122, 153, 0) 40%, rgba(61, 122, 153, 90) 50%);
  }
}
@media print {
  :root {}
}
html {
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0px;
  padding: 0px;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 1rem;
  line-height: 1.42857;
  overflow-x: hidden;
  background: inherit;
  tab-size: 4;
}
iframe {
  margin: auto;
}
a {
  color: var(--a-color);
}
a.url {
  word-break: break-all;
}
a:active, a:hover {
  outline: 0px;
}
.in-text-selection, ::selection {
  text-shadow: none;
  background: var(--select-text-bg-color);
  color: var(--select-text-font-color);
}
img {
  max-width: 100%;
  vertical-align: middle;
}
button, input, select {
  color: inherit;
  font: inherit;
}
textarea {
  background-color:var(--bg-color);
  color: var(--text-color);
}
input[type="checkbox"], input[type="radio"] {
  line-height: normal;
  padding: 0px;
}
*, ::after, ::before {
  box-sizing: border-box;
}
p {
  line-height: inherit;
}
h1, h2, h3, h4, h5, h6 {
  break-after: avoid-page;
  break-inside: avoid;
  orphans: 2;
}
p {
  orphans: 4;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
.md-math-block, .md-rawblock, h1, h2, h3, h4, h5, h6, p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hidden {
  display: none;
}
.md-blockmeta {
  color: rgb(204, 204, 204);
  font-weight: 700;
  font-style: italic;
}
a {
  cursor: pointer;
}
#write input[type="checkbox"] {
  cursor: pointer;
  width: inherit;
  height: inherit;
}
figure {
  overflow-x: auto;
  margin: 1.2em 0px;
  max-width: calc(100% + 16px);
  padding: 0px;
}
figure > table {
  margin: 0px !important;
}
tr {
  break-inside: avoid;
  break-after: auto;
}
thead {
  display: table-header-group;
}
div.hr:focus {
  cursor: none;
}
padding-top: 0px;
}
blockquote {
  margin: 1rem 0px;
}
li .mathjax-block, li p {
  margin: 0.5rem 0px;
}
li {
  margin: 0px;
  position: relative;
}
blockquote > :last-child {
  margin-bottom: 0px;
}
blockquote > :first-child, li > :first-child {
  margin-top: 0px;
}
a img, img a {
  cursor: pointer;
}
[contenteditable="true"]:active, [contenteditable="true"]:focus {
  outline: 0px;
  box-shadow: none;
}
kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  font-size: 0.8em;
  color: rgb(36, 39, 41);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(173, 179, 185);
  border-radius: 3px;
  box-shadow: rgba(12, 13, 14, 0.2) 0px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
  white-space: nowrap;
  vertical-align: middle;
}
code {
  text-align: left;
  vertical-align: initial;
}
video {
  max-width: 100%;
  display: block;
  margin: 0px auto;
}
iframe {
  max-width: 100%;
  width: 100%;
  border: none;
}
svg[id^="mermaidChart"] {
  line-height: 1em;
}
#write {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 100px;
}
#write > ul:first-child, #write > ol:first-child {
  margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: text;
}
h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  text-decoration: none;
}
h1 tt, h1 code {
  font-size: inherit;
}
h2 tt, h2 code {
  font-size: inherit;
}
h3 tt, h3 code {
  font-size: inherit;
}
h4 tt, h4 code {
  font-size: inherit;
}
h5 tt, h5 code {
  font-size: inherit;
}
h6 tt, h6 code {
  font-size: inherit;
}
h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  line-height: 1.2;
}
h2 {
  padding-bottom: .3em;
  font-size: 1.75em;
  line-height: 1.225;
}
h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 1em;
  color: #777;
}
p, blockquote {
  margin: 0.8em 0;
}
hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}
li p.first {
  display: inline-block;
}
blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 15px;
  color: #777777;
}
blockquote blockquote {
  padding-right: 0;
}
.CodeMirror-lines {
  padding-left: 4px;
}
.code-tooltip {
  box-shadow: 0 1px 1px 0 rgba(0, 28, 36, .3);
  border-top: 1px solid #eef2f2;
}
.md-fences, code, tt {
  border: 1px solid #e7eaed;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
}
code {
  background-color: #f3f4f4;
  padding: 0 2px 0 2px;
}
.md-fences {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
}
.md-task-list-item > input {
  margin-left: -1.3em;
}
@media print {
  html {
    font-size: 13px;
  }
  table, pre {
    page-break-inside: avoid;
  }
  pre {
    word-wrap: break-word;
  }
}
.md-fences {
  background-color: #f8f8f8;
}
#write > h3.md-focus:before {
  left: -1.5625rem;
  top: .375rem;
}
#write > h4.md-focus:before {
  left: -1.5625rem;
  top: .285714286rem;
}
#write > h5.md-focus:before {
  left: -1.5625rem;
  top: .285714286rem;
}
#write > h6.md-focus:before {
  left: -1.5625rem;
  top: .285714286rem;
}
.md-image > .md-meta {
  /*border: 1px solid #ddd;*/
  border-radius: 3px;
  padding: 2px 0px 0px 4px;
  font-size: 0.9em;
  color: inherit;
}
.md-tag {
  color: #a7a7a7;
  opacity: 1;
}
.md-toc {
  margin-top: 20px;
  padding-bottom: 20px;
}
.sidebar-tabs {
  border-bottom: none;
}
/** focus mode */
.on-focus-mode blockquote {
  border-left-color: rgba(85, 85, 85, 0.12);
}
/* フォント関係 */

html, body {
  font-family: 'Charis SIL', 'Noto Serif JP', 'IPAmjMincho', 'HanaMinA', 'HanaMinB', 'Georgia', 'Times New Roman', 'Times', 'serif';
  &[lang="ko"] {
    font-family: 'Charis SIL', 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB', 'Georgia', 'Times New Roman', 'Times', 'serif';
  }
}
header, .context-menu, .megamenu-content, footer, h1, h2, h3, h4, h5, h6 {
  font-family: 'Charis SIL', 'Noto Sans JP', 'IPAmjMincho', 'HanaMinA', 'HanaMinB', "Segoe UI", "Arial", sans-serif;
  &[lang="ko"] {
    font-family: 'Charis SIL', 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB', "Segoe UI", "Arial", sans-serif;
  }
}
/* 韓国語 */ :lang(ko) {
  font-family: 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ko).Gothic {
  font-family: 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
/* 北 */ :lang(ko-KP) {
  font-family: 'KP CheongPong', 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ko-KP).Gothic, h1:lang(ko-KP), h2:lang(ko-KP), h3:lang(ko-KP), h4:lang(ko-KP), h5:lang(ko-KP), h6:lang(ko-KP) {
  font-family: 'KP CheonRiMa', 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
/* 南 */ :lang(ko-KR) {
  font-family: 'NanumMyeongjo', '나눔명조', 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ko-KR).Gothic, h1:lang(ko-KR), h2:lang(ko-KR), h3:lang(ko-KR), h4:lang(ko-KR), h5:lang(ko-KR), h6:lang(ko-KR) {
  font-family: 'NanumGothic', '나눔고딕', 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
/* 中 */ :lang(ko-CN) {
  font-family: '한겨레결체', 'Noto Serif SC', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ko-CN).Gothic, h1:lang(ko-CN), h2:lang(ko-CN), h3:lang(ko-CN), h4:lang(ko-CN), h5:lang(ko-CN), h6:lang(ko-CN) {
  font-family: 'Noto Sans SC', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
/* 国漢混用 */ :lang(ko-Kore) {
  font-family: 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ko-Kore).Gothic, h1:lang(ko-Kore), h2:lang(ko-Kore), h3:lang(ko-Kore), h4:lang(ko-Kore), h5:lang(ko-Kore), h6:lang(ko-Kore) {
  font-family: 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
/* 新綴字法 */ :lang(ko-Nko) {
  font-family: 'New Serif KR', 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ko-Nko).Gothic, h1:lang(ko-Nko), h2:lang(ko-Nko), h3:lang(ko-Nko), h4:lang(ko-Nko), h5:lang(ko-Nko), h6:lang(ko-Nko) {
  font-family: 'New Sans KR', 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
} /* 新綴字法 */
/* 日本語 */ :lang(ja) {
  font-family: '游明朝体', 'Noto Serif JP', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
:lang(ja).Gothic, h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
  font-family: '游ゴシック', 'Noto Sans JP', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
/* ひらがな+カタカナ */ :lang(ja-Hrkt) {
  font-family: 'Meiryo UI', 'IPAmjMincho', 'Noto Serif JP', 'HanaMinA', 'HanaMinB';
}
.ipa {
  font-family: 'Charis SIL';
}
/*見出しデザイン*/
h1 {
  color: var(--h1-text-color); /*ffc6e2; 文字色*/
  border-bottom: dashed 2px #ffc1e0; /*線の種類（点線）2px 線色*/
}
h2 {
  padding: 0.2em; /*文字周りの余白*/
  color: var(--h2-text-color); /*#996b81; 文字色*/
  background: var(--h2-bg-color); /*背景色*/
  border-left: solid 5px var(--h2-border-color); /*左線（実線 太さ 色）*/
}
h3, h4, h5, h6 {
  padding: 0.1em; /*文字周りの余白*/
  padding-left: 0.2em; /*左側余白. 上top 下bottom*/
  color: var(--h3-text-color); /*#996b81;*/ /*文字色*/
  background: var(--h3-bg-color); /*背景色*/
  border-left: solid 5px var(--h2-border-color); /*左線（実線 太さ 色）*/
}
h4 {
  border-left: solid 5px #ffbcbc; /*左線（実線 太さ 色）*/
}
h5 {
  border-left: solid 5px #f5c6ab; /*左線（実線 太さ 色）*/
}
h6 {
  border-left: solid 5px #fddea5; /*左線（実線 太さ 色）*/
}
/* 蛍光ペン */
span.yellow {
  background: linear-gradient(rgba(255, 255, 90, 0) 40%, rgba(255, 255, 90, 90) 60%);
}
span.pink {
  background: linear-gradient(rgba(255, 140, 255, 0) 40%, rgba(255, 140, 255, 90) 60%);
}
span.blue {
  background: linear-gradient(rgba(102, 204, 255, 0) 40%, rgba(102, 204, 255, 90) 50%);
}
/* その他 */
@media print {
  h1 {
    page-break-before: always;
  }
}
/* h1ごとで頁区切り */
p {
  text-indent: 1em;
}
/*横並びリスト*/
.inline {
    display: inline-block;
}
