@charset "utf-8";
@import url("gminky.css");
@import url("table.css");
/* フォント関係 */
h3:lang(ko-Nko), h4:lang(ko-Nko), h5:lang(ko-Nko), h6:lang(ko-Nko) {
  font-family: 'New Serif KR', 'Noto Serif KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
th:lang(ko-Nko), h2:lang(ko-Nko), h3:lang(ko-Nko)::before {
  font-family: 'New Sans KR', 'Noto Sans KR', 'IPAmjMincho', 'HanaMinA', 'HanaMinB';
}
h1:lang(ko-Nko) {
  font-family: 'KP CheongPong';
}
/*見出しデザイン*/
h1 {
  font-family: "KP CheongPong";
}
h2 {
  padding: 0.2em; /*文字周りの余白*/
}
#contents {
  counter-reset: jang;
  counter-reset: jo;
  counter-reset: je;
}
h2.main {
  counter-increment: jang;
}
h2.main:before {
  content: "제"counter(jang)"자ᇰ ";
}
h3, h4, h5, h6 {
}
h3.main {
  counter-increment: jo;
}
h3.main:before {
  content: "제"counter(jo)"조 ";
}
h3.butim {
  counter-increment: je;
}
h3.butim:before {
  content: "제"counter(je)" ";
}
/* その他 */
@media print {
  h1 {
    page-break-before: always;
  }
} /* h1ごとで頁区切り */