@charset "utf-8";
:root {
  --bg: white;
  --letter: black;
  --chushaku: blue;
  --link: blue;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --letter: white;
    --chushaku: orange;
    --link: greenyellow;
  }
}
@media print {
  :root {
    --bg: white;
    --letter: black;
    --chushaku: #747474;
    --link: black;
  }
}
body, h1, h2, h3, h4, h5, h6, p, a {
  font-size: 11pt;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  font-style: normal;
  font-weight: normal;
  margin: 0;
  background: var(--bg);
  color: var(--letter);
}
/*法令名*/
h1 {
  text-indent: 3em;
  padding-top: 1em;
}
/*目次*/
.mokuji0 {}
.mokuji1 {
  text-indent: -4em;
  padding-left: 5em;
}
.mokuji2 {
  text-indent: -4em;
  padding-left: 6em;
}
.mokuji3 {
  text-indent: -4em;
  padding-left: 7em;
}
.mokuji4 {
  text-indent: -4em;
  padding-left: 8em;
}
/*標題*/
.hyoudai {
  font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  font-weight: normal;
  padding-right: 1em;
}
/*章・節*/
.shou, .setsu {
  text-indent: -4em;
  padding-left: 7em;
}
/*条*/
.kyoutsuumidashi {
  padding-left: 1em;
}
.jou {}
.sotomidashi {
  text-indent: 0em;
  padding-left: 1em;
}
.uchimidashi {
  text-indent: 0em;
}
.kou {
  text-indent: -1em;
  padding-left: 1em;
}
.gou {
  text-indent: -1em;
  padding-left: 2em;
}
.iroha {
  text-indent: -1em;
  padding-left: 3em;
}
/*その他*/
a {
  color: var(--link);
  text-decoration-line: none;
}
a:hover {
  text-decoration-line: underline;
}
.chushaku {
  color: var(--chushaku);
  font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}
/*media*/
@page {
  size: A4;
  margin: 1.5cm;
}