@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, p {
  font-size: 11pt;
  font-family: YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "serif";
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
/*法令名*/
h1 {
  text-indent: 3em;
  padding-top: 1em;
}
/*目次*/
.mokuji0 {}
.mokuji1 {
  text-indent: -4em;
  padding-left: 5em;
}
.mokuji2 {
  text-indent: -4em;
  padding-left: 6em;
}
.mokuji3 {
  text-indent: -4em;
  padding-left: 7em;
}
.mokuji4 {
  text-indent: -4em;
  padding-left: 8em;
}
/*標題*/
.hyoudai {
  font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  font-weight: normal;
  padding-right: 1em;
}
/*章・節*/
.shou, .setsu {
  text-indent: -4em;
  padding-left: 7em;
}
/*条*/
.kyoutsuumidashi {
  padding-left: 1em;
}
.jou {}
.sotomidashi {
  text-indent: 0em;
  padding-left: 1em;
}
.uchimidashi {
  text-indent: 0em;
}
.kou {
  text-indent: -1em;
  padding-left: 1em;
}
.gou {
  text-indent: -1em;
  padding-left: 2em;
}
.iroha {
  text-indent: -1em;
  padding-left: 3em;
}
/*その他*/
.chushaku {
  color: blue;
  font-family: YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
}
a {
  color: blue;
}
a:link, a:visited, a:hover, a:active {
  text-decoration-line: none;
}
a:hover {
  text-decoration-line: underline;
}
/*media*/
@media screen and (prefers-color-scheme: dark) {
  body, h1, h2, h3, h4, h5, h6, p {
    color: white;
    background: black;
  }
  .chushaku {
    color: orange;
  }
  a {
    color: greenyellow;
  }
}
@media print {
  body, h1, h2, h3, h4, h5, h6, p, a {
    color: black;
  }
  .chushaku {
    color: #747474;
  }
}
@page {
  size: A4;
  margin: 1.5cm;
}